module/system/priv-app/wallpaper-res/wallpaper-res.apk filter=lfs diff=lfs merge=lfs -text
module/system/priv-app/SpriteWallpaper/oat/arm64/SpriteWallpaper.vdex filter=lfs diff=lfs merge=lfs -text
module/system/priv-app/SpriteWallpaper/oat/arm64/SpriteWallpaper.odex filter=lfs diff=lfs merge=lfs -text
